@font-face {
    font-family: 'kanit';
    src: url('fonts/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'logo-baum';
    src: url('fonts/logo-Baum-main.ttf');
}

@font-face {
    font-family: 'logo-lanus';
    src: url('fonts/logo-Baum-Lanus.otf');
}

@font-face {
    font-family: 'microbrew';
    src: url('fonts/MicrobrewSoftFour.otf');
}

body {
    margin: 0;
    font-family: 'kanit';
    height: 100%;
    width: 100%;
    color: rgb(240, 240, 240);
    background-image: url('svg/wood.svg');
    background-repeat: repeat;
    background-size: 100%;
}

main {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    margin: 0 10% 0 10%;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    background: rgba(11, 11, 11, 0.9);
}

header {
    display: grid;
    height: 110px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 15px;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: end;
    align-items: start;
}

.logo {
    width: 130px;
    height: 110px;
}

.logo-text {
    font-family: 'logo-baum';
    font-size: 50px;
}

.logo-subtext {
    font-family: 'logo-lanus';
    font-size: 20px;
    border-top: 2px solid white;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0 35px 0 35px;
}

.container-wheat {
    display: flex;
    justify-content: center;
}

.border-logo {
    width: 19px;
    height: 20px;
    border-top: 2px solid white;
}

.img-logo img {
    width: 20px;
    transform: rotate(180deg);
    position: relative;
}

.social {
    gap: 10px;
}

.social img {
    width: 25px;
}

footer {
    text-align: center;
}

content {
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;
    min-height: 100vh;
    transition: opacity 0.5s ease;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100%;
}

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    font-size: 25px;
    background: rgba(169, 135, 135, 0.1);
}

.item, .item-french {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr auto auto;
    border-bottom: 1px solid rgb(154, 154, 154);
    font-family: 'microbrew';
}

.title-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 0 10px 0 10px;
}

.desc-item {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc-item {
    font-size: 15px;
}

.price-item {
    font-size: 25px;
}

.item-french {
    grid-template-columns: 2fr 5fr 1fr 1fr;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.navigation li:hover {
    background: rgb(88, 88, 88);
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    main {
        margin: 0;
        padding: 0;
    }

    .menu {
        padding: 0;
    }

    .menu-header {
        font-size: 30px;
    }

    .item {
        grid-template-columns: 1fr 3fr 1fr 1fr;
        gap: 5px;
    }

    .title-item {
        font-size: 20px;
        padding: 0;
    }

    .desc-item {
        font-size: 15px;
    }

    .cc-item {
        font-size: 12px;
    }
    
    .price-item {
        font-size: 20px;
    }

 }